%h1 New service

- form_for(@service) do |f|
  = f.error_messages

  %p
    = f.label :title
    = f.text_field :title
  
  %p
    = f.label :description
    = f.text_field :description
  
  %p
    = f.label :image_url
    = f.text_field :image_url

  %p
    = f.submit 'Create'

= link_to 'Back', services_path
