#people
  #content
    %h2 People
    %h3
      We are human too. But we work like a Borg!
      There is some background information on drones in our Collective.
    #overview
      %h4 Practices 
      %p
        We all believe in progress.
        As an everyday practice we use to learn much.
        We keep ourselves up to date by:
        %ul
          %li Reading books
          %li Participating in Open Source projects
          %li Better up our GTD systems
          %li Tracking progress all of technologies we use
          %li Learn new ones
          %li Convert programmers to use Ruby
          %li Participate in conferences
          %li Graduate technology certificates
    #details
      %h4 Who we are?
      .drone
        .avatar
          = image_tag Drone.new(:email => 'h13ronim@gmail.com').gravatar_url
        .description
          %dl
            %dt Designation:
            %dd one of two, primary adjunct of unimatrix 01
            %dt Code name:
            %dd h13ronim
            %dt Background:
            %dd
              Professionally connected with the servers administration and web development since 2002.
              Fan of the web standards, open licensing and GTD methodology.
              Programmed in a variety of strange things like PHP or TCL where everything is a string.
              Very satisfied Ruby developer since 2006.
              He enjoys watching a good TV series. Likes listening to jazz, psychill and goa trance.
            %dt Involved in:
            %dd
              = link_to('28dni.pl', 'http://28dni.pl', :class => 'tip', :title => '28dni.pl: <p>Developer. First startup using Rails in 1.x version.</p>')
              = link_to('jobmensa.de', 'http://jobmensa.de', :class => 'tip', :title => 'jobmensa.de: <p>Senior developer. Still developing it.</p>')
      .drone
        .avatar
          = image_tag Drone.new(:email => 'pr0d1r2@gmail.com').gravatar_url
        .description
          %dl
            %dt Designation:
            %dd two of two, secondary adjunct of unimatrix 01
            %dt Code name:
            %dd pr0d1r2
            %dt Background:
            %dd
              Marcin Nowicki aka Pr0d1r2 began his journey in 1990 starting with Commodore C64 Basic and Assembler programming.
              After that was Amiga GUI programming and lots of games.
              In 1997 started using linux as main operating system and involved into hardcore Bash, Assembler, C and C++ programming.
              He discovered Ruby in 2006 by secret project startup that was finished in 2008.
              In November 2008 joined
              = link_to 'Ragnarson Team', 'http://ragnarson.com/team.html', :class => 'tip', :title => 'Ragnarson Team: <p>Best Ruby on Rails team in Poland</p>'
              in pursue of perfection...
              Great fan of Star Trek Borg culture. Runs on
              = link_to 'psychedelic trance', 'http://www.lastfm.pl/user/pr0d1r2'
              , good food with wine, heavy workout, classic games and assimilation.
            %dt Involved in:
            %dd
              = link_to('28dni.pl', 'http://28dni.pl', :class => 'tip', :title => '28dni.pl: <p>Developer. First startup using Rails in 1.x version.</p>')
              = link_to('jobmensa.de', 'http://jobmensa.de', :class => 'tip', :title => 'jobmensa.de: <p>Leading developer. Still developing it.</p>')
        .avatar
          = image_tag Drone.new(:email => 'jakub.gorzelak@gmail.com').gravatar_url
        .description
          %dl
            %dt Designation:
            %dd one of one, primary adjunct of unimatrix 02
            %dt Code name:
            %dd goozzik
            %dt Background:
            %dd
              Jakub Gorzelak aka Goozzik is a fresh one.
              He brings freshness into the team to allow more experienced developers to reevaulate their knowledge and its perspective.
              We all are learning how to learn by him which is great oportunity not encountered in many other teams.
            %dt Involved in:
            %dd
              one of our secret startup projects
  .clear
